<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Gerenciador Estoque</display-name>

<!--    <servlet>-->
<!--        <servlet-name>redirectServlet</servlet-name>-->
<!--        <servlet-class>br.com.gerenciadorestoque.servlets.RedirectServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>redirectServlet</servlet-name>-->
<!--        <url-pattern>/redirect</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <filter>-->
<!--        <filter-name>autenticacaoFilter</filter-name>-->
<!--        <filter-class>br.com.gerenciadorestoque.infra.filter.AutenticacaoFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>autenticacaoFilter</filter-name>-->
<!--        <url-pattern>/controleEstoque/*</url-pattern>-->
<!--    </filter-mapping>-->

</web-app>
